{% extends 'base.html.twig' %}

{% block title %}MyMovieDB
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-10 text-center">
			<h1 class="mt-4 mb-4">Film joué par {{actor}}</h1>
		</div>
		<div class="col-2">
			<img src="/assets/img/{{actor.image}}" alt="{{actor}}" style="height:200px">		
		</div>
	</div>
	<div class="row">
		{% for movie in movies %}
        <div class="col-4">
			<div class="card mb-3">
				<h3 class="card-header">{{movie.name}}</h3>
				<div class="card-body">
					<h5 class="card-title">{{movie.originalName}}</h5>
					<h6 class="card-subtitle text-muted">{{movie.releaseDate}}</h6>
					{% for genre in movie.genres %}
                        <a href="/app/genre/{{genre.id}}">{{genre}}</a>                        
                    {% endfor %}
				</div>
				<img src="/assets/img/{{movie.image}}" alt="">
				<div class="card-body">
					<p class="card-text">{{movie.synopsis | raw}}</p>
				</div>
                <div class="card-footer text-muted">
					Les acteurs
				</div>
				<ul class="list-group list-group-flush">
                    {% for actor in movie.actors %}
					    <li class="list-group-item">
                            <a href="/app/actor/{{actor.id}}" class="card-link">{{actor}}</a>
                        </li>                        
                    {% endfor %}
				</ul>
                <div class="card-footer text-muted">
					Les studios
				</div>
                <ul class="list-group list-group-flush">
                    {% for studio in movie.studios %}
					    <li class="list-group-item">
                            <a href="/app/studio/{{studio.id}}" class="card-link">{{studio}}</a>
                        </li>                          
                    {% endfor %}
				</ul>
				<div class="card-footer text-muted">
					Vu ?
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
                    {% if movie.seen %}
						<p>Oui</p>
					{% else %}
						<p>Non</p>
					{% endif %}
					</li> 
				</ul>
				<div class="card-footer text-muted">
					Dans ma Watch List ?
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
                    {% if movie.watchList %}
						<p>Oui</p>
					{% else %}
						<p>Non</p>
					{% endif %}
					</li> 
				</ul>
			</div>
        </div>
		{% endfor %}
	</div>
{% endblock %}
